<%- include('../partition/header.ejs') %>
  <br><br>
  <!-- Registration Start -->

  <div class="container-fluid py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="card border-0">
            <div class="card-header bg-secondary text-center p-4">
              <h1 class="text-white m-0">Book A Seat</h1>
            </div>
            <div class="card-body rounded-bottom bg-primary p-5">
              <form action="/info1" method="post">
                <div class="mb-3">
                  <input type="hidden" name="user_id" value="<%= data1._id%>">
                  <label style="color: black;">Student Name</label>
                  <input type="text" name="n" placeholder="Enter Name" class="form-control" required>
                </div>
                <div class="mb-3">
                  <label style="color: black;">Email</label>
                  <input type="email" name="mail" placeholder="Enter Email" class="form-control">
                </div>
                <div class="mb-3">
                  <label style="color: black;">Mobile Number</label>
                  <input type="number" name="p" placeholder="Enter mobile number" class="form-control">
                  <label style="color: black;">Mobile number should be encrypted</label>
                </div>
                <div class="mb-3">
                  <label style="color: black;">Address</label>
                  <textarea class="form-control" name="a" rows="3"></textarea>
                </div>
                <div class="mb-3">
                  <label style="color: black;">Sex</label><br>
                  <input type="radio" name="g" value="male"> <span style="color: black;">Male</span>
                  <input type="radio" name="g" value="female"><span style="color: black;">Female</span>
                  <input type="radio" name="g" value="others"><span style="color: black;">Others</span>
                </div>

                <div class="mb-3">
                  <label style="color: black;">College</label>
                  <br>
                  <select name="clg" class="form-control" required>
                    <option value="0">Select</option>
                    <option value="RJIT">RJIT</option>
                    <option value="MITS">MITS</option>
                    <option value="ITM">ITM</option>
                    <option value="AVB-IIITM">AVB-IIITM</option>
                    <option value="JIWAJI UNIVERSITY">JIWAJI UNIVERSITY</option>
                    <option value="OTHERS">OTHERS</option>

                  </select>
                </div>

                <div class="mb-3">
                  <label style="color: black;">Course</label>
                  <br>
                  <select name="course" class="form-control" required>
                    <option value="0">Select</option>


                    <option value="M.TECH">M.TECH</option>

                    <option value="OTHER">OTHER</option>


                  </select>
                </div>
                <div>

                  <a href="/user/signup">
                    <button class="btn btn-secondary btn-block border-0 py-3">Submit</button>
                  </a>


                </div>



              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-7 mb-5 mb-lg-0">
          <p class="section-title pr-5"><span class="pr-2">My Profile</span></p>
          <h1 class="mb-4">Self Document`</h1>
          <p>Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed eos,
            ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est
            dolor</p>
          <ul class="list-inline m-0">
            <li class="py-2"><i class="fa fa-check text-success mr-3"></i>Enroll Your Self</li>
            <li class="py-2"><i class="fa fa-check text-success mr-3"></i>CheckIn</li>
            <li class="py-2"><i class="fa fa-check text-success mr-3"></i>Visit Profile</li>
          </ul>

        </div>

      </div>
    </div>
  </div>



  <!-- Registration End -->


  <%- include('../partition/footer.ejs') %>