<%-include('../partition/header.ejs')%>
<br><br>
<section class="login-wrap mtb-40">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="login-box">
                    <h2 class="section-title pr-5"><span class="pr-2">SIGN UP</span></h2>
                    <form action="/user/insert" method="post">

                        <%if(message.length > 0){ %>
                            <div class="alert alert-danger">
                                <%=message %>
                            </div>
                        <% }%>

                        <div class="form-group">
                            <input type="text" name="username" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="email">
                        </div>

                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Password">
                        </div>

                        <div class="form-group">
                            <input type="password" name="passconfirm" class="form-control" placeholder="Password confirm">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-outline-info"> sign up </button><br>
                            <b><p class="mb-5 pb-lg-2" style="color: #393f81;">Back To Login &nbsp;<a href="/" style="color: #393f81;">SignIn</a></p></b>
                      <a href="#!" class="small text-muted">Terms of use.</a>
                      <a href="#!" class="small text-muted">Privacy policy</a>
                        </div>
                    </form>
                </div>         
            </div>
        </div>
    </div>
</section>
<%-include('../partition/footer.ejs')%>